.App {
  text-align: center;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.portfolio-header {
  background-color: deepskyblue;
  font-family: cursive;
  font-size: 35px;
  height: 150px;
  padding: 25px;
}

.admin-header {
  font-family: cursive;
  font-size: 35px;
  background-color: plum;
  height: 150px;
  padding: 25px;
}
